/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

#extrusion-control {
	width: 100%;
	text-align: center;
}

.extrusion-control__heading {
	font-size: 22px;
	margin: -15px 0 14px;
}

.extrusion-control__headings {
	display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.extrusion-control__headings__heading {
	width: 360px;
  height: 136px;
  position: relative;
}

.extrusion-control__headings__heading--left {
	margin-right: 8px;
}

.extrusion-control__headings__heading--right {
	margin-left: 8px;
}

.extrusion-control__link-container {
	list-style: none;
	padding: 0 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	position: absolute;
	top: 256px;
}

.extrusion-control__link-container__link-item {
	width: 176px;
	height: 192px;
	background-color: #BBB;
	border-radius: 10px;
	margin: 0 8px 0 0;
	position: relative;
}

.extrusion-control__link-container__link-item--middle-right {
	margin-left: 8px;
}

.extrusion-control__link-container__link-item--last {
	margin-right: 0;
}

.extrusion-control__img-heading-container {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.extrusion-control__img-heading-container h2 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 20px 0 0 0;
}

.extrusion-control__link-container__link-item a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: black;
}

.extrusion-control__link-container__link-item a: hover {
	text-decoration: none;
	color: black;
}

/* Loading-Unloading filament steps styling goes here */

#filament-load-wizard__temp-control,
#filament-unload-wizard__temp-control {
	text-align: center;
}

#filament-load-wizard__temp-control__list,
#filament-unload-wizard__temp-control__list {
	list-style: none;
	display: flex;
	margin: 10px 0 30px;
	padding: 0;
	justify-content: center;
}

.filament-img-temp-container--load-filament,
.filament-img-temp-container--unload-filament {
	margin-bottom: 16px;
}

.next-button--load-filament,
.next-button--unload-filament {
	margin: 40px 0;
}

.instruction-heading {
	margin: 64px 0 16px;
	font-size: 20px;
}

.instruction-msg {
	font-size: 18px;
	margin: 16px 0 90px;
}

.finish-msg--load-filament,
.finish-msg--unload-filament {
	margin: 22px 0 65px;
}