/**********************************
* Code by Kanishka Mohan Madhuni *
**********************************/
.settings-list {
  list-style: none;
  width: 89%;
  margin: 40px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.setting {
  display: block;
  width: 100%;
  line-height: 56px;
  border-bottom: 1px solid #95989A;
}

.setting--border-top {
  border-top: 1px solid #95989A;
}

.setting__left {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.setting__left span {
  /* line-height: 56px; */
  padding-left: 17px;
}

.setting__right {
  float: right;
}

.setting__right--btn-container {
  display: flex;
  align-items: center;
  height: 56px;
}

.btn {
  width: 100px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  background-color: #EEEEEE;
}

.btn--pla {
  border-radius: 10px 0 0 10px;
}

.btn--abs {
  border-radius: 0 10px 10px 0;
}

.selected {
  background-color: #3176BB;
  color: white;
}