/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

.settings-list {
  list-style: none;
  width: 89%;
  margin: 40px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.setting {
  display: block;
  width: 100%;
  line-height: 56px;
  border-bottom: 1px solid #95989A;
}

.setting--border-top {
  border-top: 1px solid #95989A;
}

.setting__left {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.setting__left span {
  padding-left: 17px;
}

.setting__right {
  float: right;
  padding: 0 16px;
}

.setting__right--btn-container {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0;
}

.btn {
  width: 70px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  background-color: #EEEEEE;
}

.btn--pla {
  border-radius: 10px 0 0 10px;
}

.btn--abs {
  border-radius: 0 10px 10px 0;
}

.selected {
  background-color: #3176BB;
  color: white;
}
