/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

/* Common code goes here */

#home-page-links,
.home-page-links__link-item__sub-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Code for body goes here */

.settings-link__img-heading-container,
.utilities-link__img-heading-container,
.print-from-storage-link__img-heading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#home-page-links a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}

#home-page-links a:hover {
	text-decoration: none;
	color: black;
}

#home-page-links {
	width: 100%;
	height: 368px;
	flex-direction: row;
}

.home-page-links__link-item {
	/*border: 1px solid #ccc;*/
	position: relative;
	width: 368px;
	height: 320px;
}

.home-page-links__link-item--left {
	margin: 24px 8px 24px 24px;
	background-color: #BBBBBB;
	border-radius: 10px;
}

.home-page-links__link-item--right {
	margin: 24px 24px 24px 8px;
}

.home-page-links__link-item__sub-links {
	flex-direction: column;
	height: 100%;
}

.home-page-links__link-item__sub-links__sub-link-item {
	position: relative;
	height: 152px;
}

.home-page-links__link-item__sub-links__sub-link-item--up {
	margin-bottom: 8px;
	background-color: #BBBBBB;
	border-radius: 10px;
}

.home-page-links__link-item__sub-links__sub-link-item--down {
	margin-top: 8px;
	background-color: #BBBBBB;
	border-radius: 10px;
}

.link-heading {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
}

.link-heading--more-padding {
	padding: 25px 0;
}

.link-heading--less-padding {
	padding: 4px 0 16px;
}

/* Code for footer goes here */

#home-footer {
	width: 100%;
	background-color: #111111;
	height: 56px;
}

#footer-container {
	height: 56px;
	display: flex;
}

.footer-container__status-icon {
	margin: 0 8px 0 24px;
}

.footer-container__status-msg {
	font-size: 22px;
	color: #fff;
	line-height: 56px;
	text-align: center;
}