/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

.locked-area {
  background-color: black;
  position: relative;
}

.content-container {
  width: 480px;
  height: 258px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 22px;
  margin: 0;
  padding: 15.5px 0 9px;
  text-transform: uppercase;
}

p {
  width: 240px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.password-input {
  font-size: 20px;
  margin-bottom: 10px;
  width: 240px;
  padding: 5px 10px;
}

#notify-wizard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notify-wizard p {
  font-size: 20px;
  margin: 0 auto 40px;
  text-align: center;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffffba;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.fa-spinner {
  line-height: 258px;
}