#manual-container button {
	background-color: transparent !important;
	border: 0px !important;
	padding: 0px !important;
}

#xy-controls {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#z-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
}

.control_bg_xy {
	text-align: center;
	width: 460.61px;
	height: 294.43px;
	background-image: url("../img/manual-controls/manual-xy-background.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-color: black;*/
}

.control_bg_z {
	width: 192.28px;
	height: 293.21px;
	text-align: center;
	background-color: #eee;
	border-radius: 17px;
	box-shadow: 0.5px 4.1px 0.5px 0.1px #e7e7e7;
}

.x-minus {
	text-align: end;
}

.x-plus {
	text-align: start;
}

.distance-control-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 19px;
}

.axis {
	padding: 0 5px;
}

.axis,
.lenght-picker {
	font-size: 20px;
}