/**********************************
* Code by Kanishka Mohan Madhuni *
**********************************/

/* Common styling goes here */
.home-nav-container__icon-list,
.power-off-modal__button-container {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Styling for the navigation goes here */

#home-nav {
	width: 100%;
	background-color: #111111;
	color: #FFFFFF;
}

#home-nav-container {
	display: flex;
	flex-direction: row;
}

.printer-name {
	width: 45%;
	font-size: 26px;
	padding: 13px 30px;
}

.home-nav-container__icon-list {
	justify-content: flex-end;
	width: 55%;
	height: 56px;
}

.home-nav-container__icon-list__icon-item {
	margin: 0 16px 0 0;
}

/* Styling for the power-off modal goes here */

.power-off-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.power-off-modal__button-container {
	width: 480px;
	height: 240px;
	justify-content: center;
	border-radius: 10px;
	background-color: #fff;
	padding: 15.5px 0;
}

.power-off-modal__button {
	width: 50%;
	height: 100%;
}

.power-off-modal__button__heading {
	font-size: 22px;
	text-transform: uppercase;
	padding: 25px 0;
	margin: 0;
	font-weight: 500;
}

.power-off-button {
	border-right: 1px solid #ccc !important;
}

.power-off-modal__button button {
	width: 100%;
	height: 100%;
	border: 0px;
	outline: none;
	background-color: #fff;
}

.power-off-modal__button button:hover {
	cursor: pointer;
}

