/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

/* Common Styles goes here */

.internal-storage__heading,
.external-storage-wizard__heading {
	font-size: 22px;
	text-align: center;
	padding: 14px 0 9px;
	font-weight: 500;
	margin: -32px 0 0;
}

.design-list-container,
.external-storage-wizard__files-list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 89%;
	height: 340px;
	/* height: 280px; */
	overflow-y: scroll;
	/* overflow-scrolling: auto; */
	/* -webkit-overflow-scrolling: touch; */
}

.up-down-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 15px 0 0;
}

/* Styles for the Navigation Wizard goes here */

.choose-storage__heading {
	font-size: 22px;
	font-weight: 500px;
	margin: 0;
	padding: 14px 0 17px;
	text-align: center;
}

.choose-storage {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 32px;
	width: 100%;
}

.choose-storage__item {
	width: 360px;
	height: 336px;
	border-radius: 10px;
	background-color: #BBB;
	position: relative;
}

.choose-storage__item--external {
	margin-right: 8px;
}

.choose-storage__item--internal {
	margin-left: 8px;
}

.choose-storage__item a {
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}

.choose-storage__item a:hover {
	color: black;
	text-decoration: none;
}

.choose-storage__item__img-heading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.choose-storage__item__sub-heading {
	padding: 36px 0;
	margin: 0;
}

/* Styling for External Stroage Wizard goes here */

.external-storage-wizard__files-list__file {
	/*display: flex;*/
	/*flex-direction: row;*/
	height: 56px;
	border-bottom: .5px solid gray;
}

.external-storage__file-img {
	float: left;
	width: 56px;
}

.external-storage__file-name {
	line-height: 56px;
	vertical-align: middle;
	float: left;
	padding: 0 17px;
	font-size: 20px;
	/* width: 656px; */
	width: 85%;
	overflow: hidden;
	height: 56px !important;
}

/* Styling for Internal Storage Wizard goes here */
.design-list-container .row {
	width: 100%;
	height: 56px;
	border-bottom: .5px solid gray;
}

.left-section,
.middle-section {
	display: inline-block;
	float: left;
	height: 56px;
}

.left-section {
	width: 56px;
}

.middle-section {
	width: 90%;
}

.middle-section__heading {
	margin: 0;
	line-height: 56px;
	vertical-align: middle;
	padding: 0 17px;
	/* width: 656px; */
	overflow: hidden;
	max-height: 56px !important;
}

/* Styling for print-file-info starts here */

#print-file-info,
.external-stroage-wizard__confrim-print-modal {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 480px;
	background-color: white;
	color: black;
	text-align: center;
}

.file-details {
	margin: -24px auto 27px;
}

.file-name {
	font-size: 22px;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	max-height: 25px;
}

.file-name--external-storage {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	max-height: 25px;
}

.file-date {
	font-size: 18px;
	padding-top: 6px;
}

.print-info--internal-storage,
.print-info--external-storage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 104px;
	align-items: center;
	width: 584px;
	margin: 0 auto;
	background-color: #EEEEEE;
	border-radius: 10px;
}

.print-info__item {
	width: 167px;
	height: 48px;
	display: flex;
	flex-direction: row;
}

.print-info__item--left {
	margin-right: 32.5px;
}

.print-info__item--right {
	margin-left: 32.5px;
}

.print-info__item__icon {
	margin-right: 16px;
}

.time-heading h3 ,
.layers-heading h3{
	font-size: 12px;
	margin: 0;
}

.print-info__item__data {
	font-size: 26px;
	margin: 0;
}

.actions {
	margin: 30px 0 0;
}

.loading-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.loading-button .remove,
.loading-button .print {
	width: 304px;
	height: 56px;
	background-color: #BBBBBB;
	font-size: 22px;
	text-decoration: none;
	color: black;
	line-height: 56px;
	vertical-align: middle;
}

.remove {
	margin-right: 16px;
}

.print {
	margin-left: 16px;
}