/*
 *	(c) Kanishka Mohan Madhuni (kmmadhuni@gmail.com)
 */

.section-sub-container--checking,
.section-sub-container--checking-available {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -30;
}

.section-sub-container {
  background: white;
}

.loading {
  display: inline-block;
  margin: 0 auto;
}

.loading-animation {
  display: block;
  margin: 0 auto;
}

.loading-animation--password {
  margin-top: 18px;
}

.section-heading--extra-margin {
  margin: 20px 0 !important;
}


.section-heading {
  font-size: 22px;
  text-align: center;
  padding: 14px 0 9px;
  font-weight: 500;
  margin: -32px 0 0;
}

.stored-wifi-list, 
.available-wifi-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 280px;
  overflow: hidden;
  /*overflow-y: hidden;*/
  /* overflow-y: scroll; */
  position: relative;
}

.stored-wifi-list li,
.available-wifi-list li {
  height: 56px;
  border-bottom: .5px solid gray;
}

.stored-wifi-list li img,
.available-wifi-list li img{
  float: left;
}

.stored-wifi-list li span,
.available-wifi-list li span {
  line-height: 56px;
  vertical-align: middle;
  float: left;
  padding: 0 17px;
  font-size: 20px;
  /*width: 656px;*/
  width: 600px;
  overflow: hidden;
  height: 56px !important;
}

.available-wifi-list .no-wifi-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.no-wifi-msg h1 {
  margin: 0;
}

.no-wifi-msg p {
  margin: 0;
  padding: 20px 0 0;
}

.section-sub-container__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0 0;
}

.msg {
  height: 280px;
  text-align: center;
  font-size: 22px;
  line-height: 280px;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
}

/* CSS for the forget network modal goes here */
.forget-network-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.forget-network-modal__inner {
  width: 480px;
  height: 258px;
  border-radius: 10px;
  background-color: white;
  margin: 111px auto;
  text-align: center;
}

.forget-network__modal-heading {
  font-size: 22px;
  margin: 0;
  padding: 15.5px 0 9px;
  text-transform: uppercase;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.modal-msg {
  font-size: 16px;
  margin: 0;
}

.modal-btn-container {
  margin: 21px 0 24.5px;
}

.connect-network-btn,
.forget-network-btn,
.forget-network-cancel-btn {
  /* width: 140px; */
  width: 160px;
  height: 40px;
  background-color: #BBB;
  font-size: 22px;
  border: 0px
}

/* CSS for add password sub-section */
.add-password-modal {
  text-align: center;
}

.add-password-modal__heading {
  font-size: 18px;
  font-weight: 100;
  margin-top: -12px;
  margin-bottom: 40px;
}

.add-password-modal form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  /* position: relative; */
}

.network-password-field {
  display: block;
  width: 696px;
  margin: 0 auto;
  font-size: 25px;
  padding: 5px 40px 5px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.show-password {
  width: 40px;
  height: 32px;
  position: absolute;
  top: 140px;
  right: 50px;
  background: url('../img/setup/hide-password.svg') no-repeat 0 50%;
}

label {
  text-align: left;
  padding: 0 20px;
}

.section-sub-container__button-container--extra-padding {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.section-sub-container__button-container--extra-padding .connect,
.section-sub-container__button-container--extra-padding .cancel-btn--add-password {
  height: 56px;
  width: 130px;
  display: flex;
  justify-content: center;
}

.connect {
  border-right: 1px solid black;
}

.fa-spinner--add-password {
  display: block;
  margin: 40px auto;
}