.section-sub-container--checking,
.section-sub-container--checking-available {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -30;
}

.section-sub-container {
  background: white;
}

.loading {
  display: inline-block;
  margin: 0 auto;
}

.section-heading--extra-margin {
  margin: 20px 0 !important;
}


.section-heading {
  font-size: 22px;
  text-align: center;
  padding: 14px 0 9px;
  font-weight: 500;
  margin: -32px 0 0;
}

.stored-wifi-list, 
.available-wifi-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 280px;
  overflow: hidden;
  /*overflow-y: hidden;*/
  overflow-y: scroll;
}

.stored-wifi-list li,
.available-wifi-list li {
  height: 56px;
  border-bottom: .5px solid gray;
}

.stored-wifi-list li img,
.available-wifi-list li img{
  float: left;
}

.stored-wifi-list li span,
.available-wifi-list li span {
  line-height: 56px;
  vertical-align: middle;
  float: left;
  padding: 0 17px;
  font-size: 20px;
  /*width: 656px;*/
  width: 600px;
  overflow: hidden;
  height: 56px !important;
}

.section-sub-container__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0 0;
}

.msg {
  height: 280px;
  text-align: center;
  font-size: 22px;
  line-height: 280px;
  vertical-align: middle;
}

button:hover {
  cursor: pointer;
}

/* CSS for the forget network modal goes here */
.forget-network-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.forget-network-modal__inner {
  width: 480px;
  height: 258px;
  border-radius: 10px;
  background-color: white;
  margin: 111px auto;
  text-align: center;
}

.forget-network__modal-heading {
  font-size: 22px;
  margin: 0;
  padding: 15.5px 0 9px;
  text-transform: uppercase;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.modal-msg {
  font-size: 16px;
  margin: 0;
}

.modal-btn-container {
  margin: 21px 0 24.5px;
}

.forget-network-btn,
.forget-network-cancel-btn {
  width: 200px;
  height: 40px;
  background-color: #BBB;
  font-size: 22px;
  border: 0px
}

/* CSS for add password sub-section */
.add-password-modal {
  text-align: center;
}

.add-password-modal form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.network-password-field {
  font-size: 20px;
  padding: 5px;
  margin: 20px;
}

label {
  text-align: left;
  padding: 0 20px;
}

.section-sub-container__button-container--extra-padding {
  padding: 50px;
}
