.About_page {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  z-index: 23;
}
.Divider {
  background-image: url("/static/CSS_About/Divider.png");
  position: absolute;
  left: 40px;
  top: 167px;
  width: 720px;
  height: 282px;
  z-index: 22;
}
.Back_buton {
  background-image: url("/static/CSS_About/Backbuton.png");
  position: absolute;
  left: 648px;
  top: 0px;
  width: 152px;
  height: 64px;
  z-index: 21;
}
.Firmware_Icon {
  background-image: url("/static/CSS_About/FirmwareIcon.png");
  position: absolute;
  left: 40px;
  top: 280px;
  width: 56px;
  height: 56px;
  z-index: 20;
}
.Usage_Icon {
  background-image: url("/static/CSS_About/UsageIcon.png");
  position: absolute;
  left: 40px;
  top: 392px;
  width: 56px;
  height: 56px;
  z-index: 19;
}
.Machine_Icon {
  background-image: url("/static/CSS_About/MachineIcon.png");
  position: absolute;
  left: 40px;
  top: 168px;
  width: 56px;
  height: 56px;
  z-index: 18;
}
.Logo {
  background-image: url("/static/CSS_About/Logo.png");
  position: absolute;
  left: 368px;
  top: 80px;
  width: 64px;
  height: 64px;
  z-index: 17;
}
.Build_Icon {
  background-image: url("/static/CSS_About/BuildIcon.png");
  position: absolute;
  left: 40px;
  top: 336px;
  width: 56px;
  height: 56px;
  z-index: 16;
}
.Serial_Icon {
  background-image: url("/static/CSS_About/SerialIcon.png");
  position: absolute;
  left: 40px;
  top: 224px;
  width: 56px;
  height: 56px;
  z-index: 15;
}
._0000_hours {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 648.937px;
  top: 408.096px;
  z-index: 14;
}
._200_x_150_x_175_mm {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 568.14px;
  top: 352.533px;
  z-index: 13;
}
.v_2_1_05 {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 679.688px;
  top: 296.533px;
  z-index: 12;
}
.Ethereal_Junior {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 615.438px;
  top: 184.096px;
  z-index: 11;
}
.ABCD12345 {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 641.734px;
  top: 240.533px;
  z-index: 10;
}
.Usage_counter {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 103.5px;
  top: 408.362px;
  z-index: 9;
}
.Build_volume {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 103.297px;
  top: 352.096px;
  z-index: 8;
}
.Firmware_version {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 103.297px;
  top: 296.533px;
  z-index: 7;
}
.Serial_No_ {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 103.187px;
  top: 240.096px;
  z-index: 6;
}
.Machine_type {
  font-size: 19px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  position: absolute;
  left: 103.297px;
  top: 184.096px;
  z-index: 5;
}
.About_text {
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: absolute;
  left: 29.672px;
  top: 18.069px;
  z-index: 4;
}/*
.Top_Bar {
  background-image: url("Top Bar.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 64px;
  z-index: 3;
}
.Background {
  background-image: url("Background.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  z-index: 2;
}*/
