/**
Styles for Ethereal Printer

*/
html,body{
overflow-x: hidden;
}
.et-home{
	position: relative;
margin-top:20px !important;
}
.et-top-bar{
  /*background-image: url("/static/TopBar.png");*/
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 48px;
  z-index: 6;
}
.et-top-bar a{
/*color: white;
*/}
.Group_1 {
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  width: 800px !important;
  height: 480px  !important;
  z-index: 12;
}
.Settings_Icon {
/*  background-image: url("Settings icon.png");
  */position: absolute;
 left: 408px;
  top: 64px;
  width: 376px;
  height: 352px;
  z-index: 11;
}
.Utilities_Icon {
 /* background-image: url("Utilities Icon.png");
 */ position: absolute;
  left: 16px;
  top: 64px;
  width: 376px;
  height: 352px;
  z-index: 10;
}
.Connectvity_Offline {
  /*background-image: url("/static/ConnectvityOffline.png");*/
  position: absolute;
  left: 628px;
  top: 0px;
  width: 48px;
  height: 48px;
  z-index: 9;
}
.Connectvity_Online {
  /*background-image: url("ConnectvityOffline.png");
  */position: absolute;
  left: 640px;
  top: 0px;
  width: 48px;
  height: 48px;
  z-index: 9;
}
.Power_Button {
  /*background-image: url("/static/PowerButton.png");*/
  position: absolute;
  left: 736px;
  top: 0px;
  width: 48px;
  height: 48px;
  z-index: 8;
}
.Printer_s_Name {
  font-size: 26.667px;
  font-family: "Roboto";
  color: rgb(255, 255, 255) !important;
  line-height: 1.2;
  -moz-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  -webkit-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  -ms-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  position: absolute;
  left: 14.745px;
  top: 9.512px;
  z-index: 7;
}
.Printer_s_Name a{
  color: rgb(255, 255, 255) !important;
}
.Top_Bar {
  background-image: url("/static/TopBar.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 48px;
  z-index: 6;
}
.Status_Text {
  font-size: 26.667px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  -moz-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  -webkit-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  -ms-transform: matrix( 0.93659267584527,0,0,0.9375,0,0);
  position: absolute;
  left: 90.675px;
  top: 438.262px;
  z-index: 5;
}
.Status_Icon {
  background-image: url("Status Icon.png");
  position: absolute;
  left: 32px;
  top: 432px;
  width: 48px;
  height: 48px;
  z-index: 4;
}
.Bottom_bar {
  background-image: url("/static/Bottombar.png");
  position: absolute;
  left: 0px;
  top: 432px;
  width: 800px;
  height: 48px;
  z-index: 3;
}
.Background {
  /*background-image: url("/static/Background.png") !important;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;*/
  /*z-index: 2;  //remove this comment and add z-index:2 @last
*/}

.Update_Icon {
  background-image: url("/static/CSS_Settings/Update-Icon.png");
  position: absolute;
  left: 408px;
  top: 272px;
  width: 376px;
  height: 192px;
  z-index: 11;
}
.About_Icon {
  background-image: url("/static/CSS_Settings/About-Icon.png");
  position: absolute;
  left: 16px;
  top: 272px;
  width: 376px;
  height: 192px;
  z-index: 10;
}
.Connectivity_Icon {
  background-image: url("/static/CSS_Settings/Connectivity-Icon.png");
  position: absolute;
  left: 408px;
  top: 64px;
  width: 376px;
  height: 192px;
  z-index: 9;
}
.General_Icon {
  background-image: url("/static/CSS_Settings/General-Icon.png");
  position: absolute;
  left: 16px;
  top: 64px;
  width: 376px;
  height: 192px;
  z-index: 8;
}



