/**
Styles for Ethereal Printer

*/

.et-home{
	position: relative;
margin-top:20px !important;
}
.et-top-bar{
background-color: black !important;
color: white !important; 
}
.et-top-bar a{
color: white;
}
