* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0 !important;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

body button {
	font-weight: bold !important;
}

.active {
	display: block !important;
}

.hide {
	display: none !important;
}

.app-view {
	width: 800px;
	height: 480px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid grey;*/
}

#manual-container {
	display: flex;
	flex-direction: row;
}

#filament-load-wizard__preheating-progress-section,
#filament-unload-wizard__preheating-progress-section,
#insert-filament-section,
#retraction-in-progress-section,
#extruding-in-progress-section,
#filament-load-wizard__finish-section,
#filament-unload-wizard__finish-section{
	margin: 0 auto;
	text-align: center;
}

#filament-load-view,
#filament-unload-view {
	width: 800px;
	height: 480px;
	/*margin: 0 auto;*/
	/*border: 1px solid black;*/
}

#filament-load-wizard-nav,
#filament-unload-wizard-nav,
#controls-nav,
#print-from-storage-nav,
#preheat-wizard-nav,
#external-storage-wizard-nav,
#internal-storage-nav,
#confirm-print-nav,
#external-storage-wizard__confirm-print-nav,
#printing-wizard-nav,
#about-page-nav,
#connectivity-wizard-nav,
#wifi-wizard-nav,
#general-settings-wizard-nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 56px;
	background-color: #111;
	color: #FFFFFF;
	justify-content: space-between;
	margin-bottom: 32px;
}

.wrapper {
	/*max-width: 450px;*/
	/*margin: 0 auto;*/
}

.wizard-name {
	width: 80%;
	text-align: left;
}

.wizard-name--printing {
	width: 100%;
}

.cancel-button,
.back-button {
	width: 20%;
	text-align:center;
	background-color: #808080;
	color: #FFFFFF;
	text-decoration: none;
}

.wizard-name,
.cancel-button,
.back-button {
	font-size: 26px;
	padding: 13px 32px;
}

.steps-count {
	text-align: center;
	margin: 22px auto 17px;
	font-size: 20px;
}

.steps-progress {
	height: 24px;
	margin: 0 auto 16px;
	/*background-image: url("../../img/ethereal-astroprint/step-1.svg");*/
	background-repeat: no-repeat;
	background-position: center;
}

.filament-img-temp-container {
	width: 227px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.temp-msg {
	font-size: 15px;
	margin: 0;
	padding: 10px 0;
}

.temp-value {
	font-size: 22px;
	margin: 0;
	padding: 0 0 10px 15px;
}

.filament-img {
	width: 64px;
	height: 64px;
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: 380px;
	height: 24px;
	margin: 8px auto 40px;
}

.next-button {
	width: 240px;
	height: 48px;
	font-size: 22px;
	text-align: center;
	margin: 0 auto;
	background-color: #BBB;
	border: 0;
	font-weight: bold;
}

.next-button a {
	text-decoration: none;
	color: black;
}

.disable-btn {
	pointer-events: none;
	opacity: .5;
}

.enable-btn {
	pointer-events: auto;
	opacity: 1;
}

/* Styles for the number-pad goes here */

.numpad-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 480px;
	background-color: black;
	padding: 72px 208px;
}

.numpad-target {
	width: 384px;
	height: 67.2px;
	border-bottom: .5px solid #888;
	background-color: white !important;
	color: black;
	font-size: 40px;
  vertical-align: middle;
  line-height: 67.2px;
}

.numpad {
	background-color: white !important;
	color: black;
	width: 384px;
	height: 252px;
}

.numpad-row__item {
	width: 128px;
	height: 67.2px;
	border: .5px solid #888;
	text-align: center;
}

.numpad__num,
.numpad__num__done,
.numpad__num__clear {
	width: 100%;
	height: 100%;
	font-size: 30px;
	text-align: center;
	border: 0px !important;
	background-color: white;
}

/* styles for the notify view goes here */
#notify-view {
	z-index: 6000;
	background-color: black;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#notify-view p {
	font-size: 20px;
	margin: 0 auto 40px;
}

/**************************************************
	Overriding the styles for the On Screen Keyboard
	to customize the look and feel.
***************************************************/
#mlkeyboard {
	/* display: block !important; */
	height: 250px !important;
	background: #EEEEEE !important;
	z-index: 10;
}

#mlkeyboard ul li {
	width: 52px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	margin: 2px;
	background: #EEEEEE !important;
	border: none !important;
	font-size: 27px;
}

#mlkeyboard-backspace {
	font-size: 20px !important;
}

#mlkeyboard ul #mlkeyboard-backspace,
#mlkeyboard ul #mlkeyboard-return,
#mlkeyboard ul #mlkeyboard-right-shift,
#mlkeyboard ul #mlkeyboard-capslock,
#mlkeyboard ul #mlkeyboard-space {
	background: #222222 !important;
	color: white;
	font-size: 20px;
}

#mlkeyboard ul #mlkeyboard-capslock {
	width: 80px !important;
}

#mlkeyboard ul #mlkeyboard-tab,
#mlkeyboard ul #mlkeyboard-left-shift {
	background: transparent !important;
	font-size: 0px !important;
}

#mlkeyboard ul #mlkeyboard-tab {
	width: 20px !important;
}

#mlkeyboard ul #mlkeyboard-left-shift {
	width: 120px !important;
}
#mlkeyboard ul #mlkeyboard-right-shift {
	display: none !important;
}

#mlkeyboard ul #mlkeyboard-space {
	width: 400px !important;
	height: 30px !important;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}