<div id="about-page">
	<nav id="about-page-nav">
		<div class="wizard-name">
			About
		</div>
		<a href="#settings" class="back-button">Back</a>
	</nav>

	<div class="about-page__container">
		<img src="{{ url_for('static', filename='img/about-page/ethereal-logo.svg') }}" alt="Ethereal Logo" class="about-page__ethereal-logo" width="64" height="64">

		<ul class="about-page__details-list">
			<li class="about-page__details-list__detail about-page__details-list__detail--top-border">
				<img src="{{ url_for('static', filename='img/about-page/machine-type.svg') }}" alt="Detail" class="detail-img" width="48" height="48">
				<span class="detail-heading">Machine Type</span>
				<span class="detail-value">Ethereal Ray</span>
			</li>
			<li class="about-page__details-list__detail">
				<img src="{{ url_for('static', filename='img/about-page/serial-no.svg') }}" alt="Detail" class="detail-img" width="48" height="48">
				<span class="detail-heading">Serial No.</span>
				<span class="detail-value">ABCD12345</span>
			</li>
			<li class="about-page__details-list__detail">
				<img src="{{ url_for('static', filename='img/about-page/firmware-version.svg') }}" alt="Detail" class="detail-img" width="48" height="48">
				<span class="detail-heading">Firmware Virson</span>
				<span class="detail-value">v 2.1.05</span>
			</li>
			<li class="about-page__details-list__detail">
				<img src="{{ url_for('static', filename='img/about-page/build-volume.svg') }}" alt="Detail" class="detail-img" width="48" height="48">
				<span class="detail-heading">Build Volume</span>
				<span class="detail-value">250 x 200 x 200 mm</span>
			</li>
			<li class="about-page__details-list__detail">
				<img src="{{ url_for('static', filename='img/about-page/usage-counter.svg') }}" alt="Detail" class="detail-img" width="48" height="48">
				<span class="detail-heading">Usage Counter</span>
				<span class="detail-value">0000 hrs</span>
			</li>
		</ul>
	</div>

	<footer class="about-page__footer">&copy;	Ethereal Machines | 2018</footer>
</div>