<!--
*****************************************
* Code by Kanishka Mohan Madhuni *
*****************************************
-->
<div id="connectivity-wizard">
  <nav id="connectivity-wizard-nav">
    <div class="wizard-name">
      Connectivity
    </div>
    <a href="#settings" class="back-button">Back</a>
  </nav>
  
  <!-- container for LAN and WIFI connectivity -->
  <ul class="connectivity-types">
    <li class="lan-connectivity">
      <a href="#connectivity">
        <div class="img-heading-container">
          <img src="{{ url_for('static', filename='img/ethereal-astroprint/lan.png') }}" alt="" width="96" height="96">
          <h2>LAN Connection</h2>
          <p class="lan-connectivity__status">LAN Not Connected</p>
        </div>
      </a>
    </li>
    <li class="wifi-connectivity">
      <a href="#connectivity/#wifi">
        <div class="img-heading-container">
          <img src="{{ url_for('static', filename='img/setup/wifi-lock.svg') }}" alt="" width="96" height="96">
          <h2>WIFI Connection</h2>
          <p class="wifi-connectivity__status">Not Connected</p>
        </div>
      </a>
    </li>
  </ul>
</div>