<!--
*****************************************
* Code edited by Kanishka Mohan Madhuni *
*****************************************
-->

<nav id="controls-nav">
	<div class="wizard-name">Utility Section</div>
	<a href="#utilities" class="back-button">Back</a>
</nav>

<div class="default-container">
	<div id="manual-container"></div>

	<script type="text/template" id="xyz-controls-template">
		<div class="" id="xy-controls">

			<table class="control_bg_xy">
				<tr>
					<td></td>
					<td class="y-plus">
						<button class="control_btn_y_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-y-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="x-minus">
						<button class="control_btn_x_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-x-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td class="xy-home">
						<button class="home_z">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-home.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td class="x-plus">
						<button class="control_btn_x_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-x-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="y-minus">
						<button class="control_btn_y_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-y-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td></td>
				</tr>
			</table>

			<div class="distance-control-container">
	      <!-- distance control for x-axis -->
				<div class="distance-control">
					<span class="axis">X</span>
		      <select class="lenght-picker x-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
				<!-- distance control for y-axis -->
				<div class="distance-control">
					<span class="axis">Y</span>
					<select class="lenght-picker y-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
			</div>
		</div><!-- end of "#xy-controls" -->
		
		<!-- "#z-controls" -->
		<div class="" id="z-controls">

			<table class="control_bg_z">
				<tr>
					<td>
						<button class="control_btn_z_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-z-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<button class="home_z">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-home.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<button class="control_btn_z_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-z-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
			</table>

			<div class="distance-control-container">
	      <!-- distance control for z-axis -->
				<div class="distance-control">
					<span class="axis">Z</span>
					<select class="lenght-picker z-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
			</div>
		</div><!-- end of "z-controls" -->

	</script>

	<script type="text/template" id="filament-template">
		<div class="" id="extrusion-control">
			<h1 class="extrusion-control__heading">Load/Unload Filament</h1>
			<ul class="extrusion-control__link-container">
				<li class="extrusion-control__link-container__link-item">
					<a href="#filament-load-wizard" class="load-filament-link">
						<div class="extrusion-control__img-heading-container">
							<img src="../img/filament-utility/load-filament.svg" alt="Load Filament" width="88px" height="93px">
							<h2>Load Filament</h2>
						</div>
					</a>
				</li>
				<li class="extrusion-control__link-container__link-item">
					<a href="#filament-unload-wizard" class="unload-filament-link">
						<div class="extrusion-control__img-heading-container">
							<img src="../img/filament-utility/unload-filament.svg" alt="Unload Filament" width="88px" height="93px">
							<h2>Unload Filament</h2>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</script>

	<script type="text/template" id="auto-bed-level-template"></script>

	<script type="text/template" id="pre-heat-template">
		{%- macro temp_control(class, label, temp) %}
	    <div class="temp-control-cont {{class}}">
	      <!-- here we show the rising temperature -->
	      <!-- <span class="current-temp-top">- -</span> -->
	      <div class="temp-bar">
	        <!-- here the 'bed' or 'nozzle' label will display based on the bar we are on -->
	        <label class="temp-bar-label">{{label}}</label>

	        <div class="temp-target temp-target--preheating-utility">
	          <span class="target-value">- -</span>
	          <input type="number" class="target-value-input hide" value="{{ temp }}" />
	          <a class="temp-edit"><img src="{{ url_for('static',filename='img/preheating-utility/pencil-edit-button.svg') }}" width="20" height="20"></a>
	        </div>
	      </div>
	    </div>
		{%- endmacro %}

		<div id="preheat-control">
			<ul id="temp-control">
				<li class="temp-control-items">
					<img src="{{ url_for('static',filename='img/preheating-utility/extruder-1.svg') }}" width="96" height="96">
					{{ temp_control('nozzle', 'Extruder 1', '210')}}
				</li>
				<li class="temp-control-items temp-control-items--extruder">
					<img src="{{ url_for('static',filename='img/preheating-utility/extruder-2.svg') }}" width="96" height="96">
					{{ temp_control('nozzle', 'Extruder 2', '210')}}
				</li>
				<li class="temp-control-items temp-control-items--bed">
					<img src="{{ url_for('static',filename='img/preheating-utility/bed-plate.svg') }}" width="96" height="96">
					{{ temp_control('bed', 'Build Plate', '70')}}
				</li>
			</ul>

			<a href="#preheating" id="preheat-control-start-btn" class="next-button next-button--start-preheating">START</a>
		</div>



		<!-- <a href="#preheating">Switch to PREHEATING</a> -->
	</script>

</div>