<!--
*****************************************
* Code edited by Kanishka Mohan Madhuni *
*****************************************
-->

<nav id="controls-nav">
	<div class="wizard-name">Utility Section</div>
	<a href="#utilities" class="back-button">Back</a>
</nav>

<div class="default-container">
	<div id="manual-container"></div>

	<script type="text/template" id="xyz-controls-template">
		<div class="" id="xy-controls">

			<table class="control_bg_xy">
				<tr>
					<td></td>
					<td class="y-plus">
						<button class="control_btn_y_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-y-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="x-minus">
						<button class="control_btn_x_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-x-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td class="xy-home">
						<button class="home_z">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-home.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td class="x-plus">
						<button class="control_btn_x_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-x-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="y-minus">
						<button class="control_btn_y_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-y-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
					<td></td>
				</tr>
			</table>

			<div class="distance-control-container">
	      <!-- distance control for x-axis -->
				<div class="distance-control">
					<span class="axis">X</span>
		      <select class="lenght-picker x-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
				<!-- distance control for y-axis -->
				<div class="distance-control">
					<span class="axis">Y</span>
					<select class="lenght-picker y-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
			</div>
		</div><!-- end of "#xy-controls" -->
		
		<!-- "#z-controls" -->
		<div class="" id="z-controls">

			<table class="control_bg_z">
				<tr>
					<td>
						<button class="control_btn_z_plus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-z-plus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<button class="home_z">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-home.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
				<tr>
					<td>
						<button class="control_btn_z_minus">
							<img class="control-btn-img" src="../static/img/manual-controls/manual-z-minus.svg" alt="" width="80.88px" height="82px">
						</button>
					</td>
				</tr>
			</table>

			<div class="distance-control-container">
	      <!-- distance control for z-axis -->
				<div class="distance-control">
					<span class="axis">Z</span>
					<select class="lenght-picker z-length-changed">
					  <option value="0.1">0.1 mm</option>
					  <option value="5" selected default>5 mm</option>
					  <option value="10">10 mm</option>
					</select>
				</div>
			</div>
		</div><!-- end of "z-controls" -->

	</script>

	<script type="text/template" id="filament-template">
		<div class="" id="extrusion-control">
			<h1>Filament Load/Unload</h1>
			<div class="links-container">
				<a href="#filament-load-wizard" class="load-filament-link">Load Filament</a>
				<a href="#filament-unload-wizard" class="unload-filament-link">Unload Filament</a>
			</div>
		</div>
	</script>

	<script type="text/template" id="auto-bed-level-template"></script>

	<script type="text/template" id="pre-heat-template">
		{%- macro temp_control(class, label) %}
	    <div class="temp-control-cont {{class}}">
	      <!-- here we show the rising temperature -->
	      <span class="current-temp-top">- -</span>
	      <div class="temp-bar">
	        <!-- here the 'bed' or 'nozzle' label will display based on the bar we are on -->
	        <label class="">{{label}}</label>

	        <div class="temp-target">
	          <a class="temp-edit"><i class="icon-pencil"></i></a>
	          <span class="target-value">- -</span>
	          <input type="number" class="hide"/>
	        </div>
	      </div>
	    </div>
		{%- endmacro %}
		<div class="" id="temp-control">
			  <div class="">
			    {{ temp_control('nozzle', 'Nozzle')}}
			  </div>
			  <div class="">
			    {{ temp_control('bed', 'Bed')}}
			  </div>
		</div><!-- end of "#temp-control" -->
		<a href="#preheating">Switch to PREHEATING</a>
	</script>

</div>