<!--
*****************************************
* Code edited by Kanishka Mohan Madhuni *
*****************************************
-->

<nav id="controls-nav">
	<div class="wizard-name">Utility Section</div>
	<a href="#utilities" class="back-button">Back</a>
</nav>

<div class="wrapper">
	<div id="manual-container"></div>

	<script type="text/template" id="xyz-controls-template">
		<h1>Template for Manual Control</h1>
		<!-- "#xy-controls" -->
		<div class="" id="xy-controls">
      <h2 class="">Horizontal</h2>
      <div class="control_bg_xy">
        <button class="control_btn_y_plus">Y+</button><br/>
        <button class="control_btn_x_minus">X-</button> <button class="home_z">HOME</button> <button class="control_btn_x_plus">X+</button><br/>
        <button class="control_btn_y_minus">Y-</button>
      </div>
		</div><!-- end of "#xy-controls" -->
		
		<!-- "#z-controls" -->
		<div class="" id="z-controls">
      <h2 class="">Vertical</h2>
      <button class="control_btn_z_plus">Z+</button><br/>
      <button class="home_z">HOME</button><br/>
      <button class="control_btn_z_minus">Z-</button>
		</div><!-- end of "z-controls" -->
		
		<!-- "#distance-control" -->
		<div class="" id="distance-control">
      <select class="x-length-changed">
			  <option value="0.1">0.1 mm</option>
			  <option value="5" selected default>5 mm</option>
			  <option value="10">10 mm</option>
			</select>
			<select class="y-length-changed">
			  <option value="0.1">0.1 mm</option>
			  <option value="5" selected default>5 mm</option>
			  <option value="10">10 mm</option>
			</select>
			<select class="z-length-changed">
			  <option value="0.1">0.1 mm</option>
			  <option value="5" selected default>5 mm</option>
			  <option value="10">10 mm</option>
			</select>
		</div><!-- end of "#distance-control" -->
	</script>

	<script type="text/template" id="filament-template">
		<div class="" id="extrusion-control">
			<h1>Filament Load/Unload</h1>
			<div class="links-container">
				<a href="#filament-load-wizard" class="load-filament-link">Load Filament</a>
				<a href="#filament-unload-wizard" class="unload-filament-link">Unload Filament</a>
			</div>
		</div>
	</script>

	<script type="text/template" id="auto-bed-level-template"></script>

	<script type="text/template" id="pre-heat-template">
		{%- macro temp_control(class, label) %}
	    <div class="temp-control-cont {{class}}">
	      <!-- here we show the rising temperature -->
	      <span class="current-temp-top">- -</span>
	      <div class="temp-bar">
	        <!-- here the 'bed' or 'nozzle' label will display based on the bar we are on -->
	        <label class="">{{label}}</label>

	        <div class="temp-target">
	          <a class="temp-edit"><i class="icon-pencil"></i></a>
	          <span class="target-value">- -</span>
	          <input type="number" class="hide"/>
	        </div>
	      </div>
	    </div>
		{%- endmacro %}
		<div class="" id="temp-control">
			  <div class="">
			    {{ temp_control('nozzle', 'Nozzle')}}
			  </div>
			  <div class="">
			    {{ temp_control('bed', 'Bed')}}
			  </div>
		</div><!-- end of "#temp-control" -->
		<a href="#preheating">Switch to PREHEATING</a>
	</script>

</div>