
<!-- navigation bar -->
<nav id="internal-storage-nav">
	<div class="wizard-name">Browse - Internal Storage</div>
	<a href="#print-from-storage" class="back-button">Back</a>
</nav>

<!-- heading goes here -->
<h1 class="internal-storage__heading section-heading--font-regular">Choose the file you want to print </h1>

<div class="design-list">
	<ul class="design-list-container"></ul>
	<div class="up-down-button-container">
		<!-- <button class="up-button next-button disable-btn">Scroll Up</button> -->
		<!-- <button class="down-button next-button">Scroll Down</button> -->
	</div>
</div>

<!-- 
*********************
* 'print-file-info' *
*********************
 -->

<div id="print-file-info" class="reveal-modal hide" >
	<div class="dlg-content"></div>
</div>

<!-- Template for the "#print-file-info" div -->
<!-- "#print-file-info" div displays all the information about the currently selected file -->
<!-- This div will reveal when we use to click the item in the file list -->
<script type="text/template" id="printfile-info-template">
	<div id="confirm-print-model">
		<!-- navigation bar -->
		<nav id="confirm-print-nav">
			<div class="wizard-name">Browse - Internal Storage</div>
			<a href="#files" class="back-button">Back</a>
		</nav>
		
		<!-- file-details container -->
		<div class="file-details">
			<img src="{{ url_for('static', filename='img/print-from-storage/file-icon.svg') }}" alt="File Format" class="file-format-img" width="112" height="112">
			<h2 class="file-name"><%= p.printFileName ? p.printFileName : p.name %></h2>
			<div class="file-date">
				<%= new Date(p.uploaded_on * 1000).toLocaleDateString() %>
			</div>
		</div>

		<!-- print-info container -->
		<div class="print-info print-info--internal-storage">
			<% if (p.info) { %>
				<div class="print-info__item print-info__item--left">
					<img src="{{ url_for('static', filename='img/print-from-storage/time-icon.svg') }}" alt="Time-icon" class="print-info__item__icon" width="48" height="48">
					<div class="time-heading">
						<h3>Print Time</h3>
						<% if (p.info.print_time) { %>
							<p class="print-info__item__data"><%= time_format(p.info.print_time) %></p>
						<% } %>
					</div>
				</div><!-- end of 'print-info__item' -->
				<div class="print-info__item print-info__item--right">
					<img src="{{ url_for('static', filename='img/print-from-storage/time-icon.svg') }}" alt="material-item" class="print-info__item__icon" width="48" height="48">
					<div class="layers-heading">
						<h3>Number of Layers</h3>
						<% if (p.info.layer_count) { %>
							<p class="print-info__item__data"><%= p.info.layer_count %></p>
						<% } %>
					</div>
				</div><!-- end of 'print-info__item' -->
			<% } else { %>
				<div class="print-info__no-details">
					Analyzing G-Code
				</div>
			<% } %>
		</div>

		<!-- print-actions container -->
		<div class="actions">
			<% if (p.local_filename) { %>
				<div class="loading-button">
					<a href="#" class="remove idle">DELETE</a>
					<a href="#" class="print">PRINT</a>
				</div>
			<% } %>
		</div>
	</div>
</script>

<!-- 
****************************
* End of 'print-file-info' *
****************************
 -->

<!-- This template is being used for displaying the files from the local
storage of the PI and will be used to show up the options to DELETE, DOWNLOAD
and other options related to the files -->
<script type="text/template" id="print-file-template">
	<div class="left-section">
		<% if (p.images.thumbnail) { %>
			<div class="thumb-container">
				<img src="<%= p.images.thumbnail %>"/>
			</div>
		<% } else { %>
			<img class="icon-3d-object" src="../static/img/print-from-storage/file-icon.svg" width="56" height="56"></img>
		<% } %>
	</div>
	<div class="middle-section">
    <h3 class="middle-section__heading"> <%= p.name %></h3>
    <!-- <%= size_format(p.size) %>
		<% if (p.info) { %>
			<% if (p.info.print_time) { %>
				· <i class="icon-stopwatch" title="Print Time"></i> <b><%= time_format(p.info.print_time) %></b>
			<% } %>
		<% } else { %>
			<i class="icon-rocket-spinner animate-spin"></i> Analyzing G-Code
		<% } %>
    <% if (p.uploaded_on) { %>
      · <i class="icon-calendar" title="Time Added"></i> <span data-localtime-format="d MMM, yyyy (h:mm a)"><%= new Date(p.uploaded_on * 1000).toISOString() %></span>
    <% } %> -->
	</div>
	<!-- <div class="right-section">
		<div class="print-file-options">
			<% if (p.local_filename) { %>
				<div class="loading-button print">
					<a href="#" class="print idle">
						<i class="icon-3d-printer" title="Print"></i>
					</a>
					<span class="loading"><i class="icon-rocket-spinner animate-spin"></i></span>
				</div>
			<% } else { %>
				<a href="#" class="download">
					<i class="icon-download-cloud" title="Download to {{variantData['productName']}}"></i>
				</a>
				<div class="download-progress">
					<a href="#" class="dw-cancel"><i class="icon-cancel-circled" title="Cancel download"></i></a>
					<span class="bold">0<i>%</i></span>
				</div>
        <div class="download-failed">
          <i class="icon-attention"></i>
        </div>
			<% } %>
		</div>
	</div> -->
</script>