<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">File Manager</h1>
	</div>
</div>

<div class="design-list">

	<!-- the 'StorageControlView' access 'list-header' div-->
	<div class="row list-header">
		<div class="small-12 medium-7 large-8 columns">
			<h3 class="bold">Printable Files</h3>
			{%- if user_email %}
				<div class="loading-button sync">
					<button class="tiny success radius sync"><i class="icon-refresh"></i> Sync</button>
					<span class="tiny success button radius disabled loading"><i class="icon-refresh animate-spin"></i> Sync</span>
				</div>
			{%- endif %}
		</div>
		<div class="small-12 medium-5 large-4 columns">
			<ul class="button-group radius even-2 storage">
			  <li><a href="#" class="button small secondary local">Local</a></li>
			  <li><a href="#" class="button small secondary cloud">Cloud</a></li>
			</ul>
		</div>
	</div>

<!-- 
	This is the dialog box which opens up when we click the filemanger and
	the files are being loaded from the local memory to display 
-->
	<div class="row">
		<div class="small-12 columns">
      <div class="local-loading" align="center">
        <i class="icon-refresh animate-spin"></i>
        Loading files...
      </div>

      <!-- 
				This div 'design-list-container' contains all the files name with
				printing options
       -->
			<div class="design-list-container"></div>
		</div>
	</div>
</div>


<!-- 
*********************
* 'print-file-info' *
*********************
 -->

<div id="print-file-info" class="reveal-modal xlarge" data-reveal>
	<div class="dlg-content"></div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- Template for the "#print-file-info" div -->
<script type="text/template" id="printfile-info-template">
	<div id="confirm-print-model">
		<!-- navigation bar -->
		<nav id="confirm-print-nav">
			<div class="wizard-name"></div>
			<a href="#" class="back-button">Cancel</a>
		</nav>
		
		<!-- file-details container -->
		<div class="file-details">
			<div class="file-format-img-container">
				<img src="" alt="File Format" class="file-format-img" width="75.6" height="75.6">
			</div>
			<h2 class="file-name"><%= p.printFileName ? p.printFileName : p.name %></h2>
			<div class="file-sub-name">
				<%= p.printFileName ? p.printFileName : p.name %>
			</div>
		</div>

		<!-- print-info container -->
		<div class="print-info">
			<% if (p.info) { %>
				<div class="print-info__item">
					<img src="" alt="Time-icon" class="print-info__item__icon" width="48" height="48">
					<div class="time-heading">
						<h3>Print Time</h3>
						<% if (p.info.print_time) { %>
							<p class="print-info__item__data"><%= time_format(p.info.print_time) %></p>
						<% } %>
					</div>
				</div><!-- end of 'print-info__item' -->
				<div class="print-info__item">
					<img src="" alt="material-item" class="print-info__item__icon" width="48" height="48">
					<div class="">
						<h3>Number of Layers</h3>
						<% if (p.info.layer_count) { %>
							<p class="print-info__item__data"><%= p.info.layer_count %></p>
						<% } %>
					</div>
				</div><!-- end of 'print-info__item' -->
			<% } else { %>
				<div class="print-info__no-details">
					Analyzing G-Code
				</div>
			<% } %>
		</div>

		<!-- print-actions container -->
		<div class="actions">
			<% if (p.local_filename) { %>
				<div class="loading-button">
					<a href="#" class="remove idle">DELETE</a>
					<a href="#" class="print">PRINT</a>
				</div>
			<% } %>
		</div>
	</div>
</script>

<!-- 
****************************
* End of 'print-file-info' *
****************************
 -->


<!-- This template is being used for displaying the files from the local
storage of the PI and will be used to show up the options to DELETE, DOWNLOAD
and other options related to the files -->
<script type="text/template" id="print-file-template">
	<div class="small-2 large-1 columns left-section">
		<% if (p.images.thumbnail) { %>
			<div class="thumb-container">
				<img src="<%= p.images.thumbnail %>"/>
			</div>
		<% } else { %>
			<i class="icon-3d-object"></i>
		<% } %>
	</div>
	<div class="small-8 large-10 columns middle-section">
    <h3 class="bold"> <%= p.name %></h3>
    <%= size_format(p.size) %>
		<% if (p.info) { %>
			<% if (p.info.print_time) { %>
				· <i class="icon-stopwatch" title="Print Time"></i> <b><%= time_format(p.info.print_time) %></b>
			<% } %>
		<% } else { %>
			<i class="icon-rocket-spinner animate-spin"></i> Analyzing G-Code
		<% } %>
    <% if (p.uploaded_on) { %>
      · <i class="icon-calendar" title="Time Added"></i> <span data-localtime-format="d MMM, yyyy (h:mm a)"><%= new Date(p.uploaded_on * 1000).toISOString() %></span>
    <% } %>
	</div>
	<div class="small-2 large-1 columns right-section">
		<div class="print-file-options">
			<% if (p.local_filename) { %>
				<div class="loading-button print">
					<a href="#" class="print idle">
						<i class="icon-3d-printer" title="Print"></i>
					</a>
					<span class="loading"><i class="icon-rocket-spinner animate-spin"></i></span>
				</div>
			<% } else { %>
				<a href="#" class="download">
					<i class="icon-download-cloud" title="Download to {{variantData['productName']}}"></i>
				</a>
				<div class="download-progress">
					<a href="#" class="dw-cancel"><i class="icon-cancel-circled" title="Cancel download"></i></a>
					<span class="bold">0<i>%</i></span>
				</div>
        <div class="download-failed">
          <i class="icon-attention"></i>
        </div>
			<% } %>
		</div>
	</div>
</script>