<div id="" class="" >
	<ul class="">
		<li>
			<a href="#settings">
				<div class=""><img src="/static/img/Settings-icon.png" class="Settings_Icon" alt="settings icon"/></div>
			</a>
		</li>
		<li>
			<a href="#utilities">
				<div class=""><img src="/static/img/Utilities-Icon.png" class="Utilities_Icon" alt="settings icon"/></div>
				<img src="/static/Bottombar.png" class="Bottom_bar " alt="settings icon"/>					
			</a>
		</li>
	</ul>
</div>