<nav id="printing-wizard-nav">
  <div class="wizard-name wizard-name--printing">
    Printing - <span class="printing-file-name"></span>
  </div>
</nav>

<div id="printing-info-container">
  <div class="print-progress-container">
    <div class="progress success">
      <h2 class="printing-progress">Printing Progress</h2>
      <span class="progress-label"></span>
    </div>
  </div>

  <div class="print-info print-info--printing-wizard">
    
    <div class="temperatures">
      
      <!-- macro for the Nozzle and Bed  -->
      {%- macro temp_control(class, label) %}
        <div class="temp-bar {{class}}">
          <div class="temp-target">
            <span class="target-value">- -</span>
          </div>
        </div>
      {%- endmacro %}

      <div class="printing-wizard__nozzle-container">
        <img src="{{ url_for('static',filename='img/preheating-utility/extruder-1.svg') }}" alt="Nozzle" class="printing-wizard__target-img" width="48" height="48">
        <progress max="100" value="0" class="printing-wizard__progress printing-wizard__progress--extra">
        </progress>
        {{ temp_control('extra', 'Nozzle 1')}}
      </div>

      <div class="printing-wizard__nozzle-container">
        <img src="{{ url_for('static',filename='img/preheating-utility/extruder-2.svg') }}" alt="Nozzle" class="printing-wizard__target-img" width="48" height="48">
        <progress max="100" value="0" class="printing-wizard__progress printing-wizard__progress--nozzle">
        </progress>
        {{ temp_control('nozzle', 'Nozzle 2')}}
      </div>

      <div class="printing-wizard__bed-container">
        <img src="{{ url_for('static',filename='img/preheating-utility/bed-plate.svg') }}" alt="Nozzle" class="printing-wizard__target-img" width="48" height="48">
        <progress max="100" value="0" class="printing-wizard__progress printing-wizard__progress--bed">
        </progress>
        {{ temp_control('bed', 'Bed')}}
      </div>

    </div>

    <div class="info info--printing-wizard">
      <div class="printing-wizard__time-left">
        <h2 class="printing-wizard__time-left__heading">Time Remaining</h2>
        <div class="printing-wizard__time-left__value">
          <span class="highlighted estimated-hours">--</span>:<span class="highlighted estimated-minutes">--</span>:<span class="highlighted estimated-seconds">--</span>
        </div>
      </div>
      <div class="printing-wizard__layer-left">
        <h2 class="printing-wizard__layer-left__heading">Printing Layer</h2>
        <div class="printing-wizard__layer-left__value">
          <span class="current-layer highlighted"></span><span class="highlighted layer-count"></span>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="button-container">
  <div class="loading-button printing-wizard-btn--left">
    <button class="success pause-print next-button">Print</button>
  </div>
  <!-- <button class="radius controls expand" style="display:none">Printer Controls</button> -->
  <div class="printing-wizard-btn--right">
    <button class="alert stop-print next-button">Cancel</button>
  </div>
</div>

<div id="cancel-print-modal" class="reveal-modal hide" data-reveal align="center">
  <div class="modal-body">
    <h2 class="modal-heading">CONFIRM CANCEL</h2>

    <div class="ask">
      <div class="reveal-content">
        <img src="{{ url_for('static', filename='img/preheating-utility/confirm-cancel-icon.svg') }}" width="96" height="96" class="warning-icon">
        <p class="warning-msg">Are you sure you would like to cancel the current print?</p>
      </div>

      <div class="button-container">
        <div class="cancel-btn--no">
          <button class="radius secondary left no cancel-btn--no">No</button>
        </div>
        <div class="loading-button right yes">
          <button class="alert radius yes cancel-btn--yes">Yes</button>
          <!-- <span class="loading button disabled alert radius">
            <i class="icon-rocket-spinner animate-spin"></i> Canceling...
          </span> -->
        </div>
      </div>
    </div>
    <!-- <div class="reasons hide">
      <div class="reveal-content">
        <h3 align="center"><i class="icon-ok-circled"></i> Your Print has been Canceled</h3>
        <div class="row">
          <div class="small-10 small-centered columns">
            <div class="panel">
              <p>Help us <b>improve 3D Printing</b> by telling us why you're canceling this print:</p>
              <p>
                <input id="cancel-reason-detached" type="radio" name="reason" value="detached"><label for="cancel-reason-detached">Object Detached</label><br/>
                <input id="cancel-reason-quality" type="radio" name="reason" value="quality"><label for="cancel-reason-quality">Bad Quality</label><br/>
                <input id="cancel-reason-filament" type="radio" name="reason" value="filament"><label for="cancel-reason-filament">Not Enough Material</label><br/>
                <input id="cancel-reason-other" type="radio" name="reason" value="other"><label for="cancel-reason-other">Other</label><br/>
                <input type="text" name="other_text" class="hide" placeholder="What happened?"/>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button class="radius secondary left no">Close</button>
        <div class="loading-button right send">
          <button class="success radius send">Send</button>
          <span class="loading button disabled success radius">
            <i class="icon-rocket-spinner animate-spin"></i> Sending...
          </span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> -->
  </div>
  <!-- <a class="close-reveal-modal">&#215;</a> -->
</div>
