<!-- 
**********************************
* Code by Kanishka Mohan Madhuni *
**********************************
-->

<!-- navigation bar -->
<nav id="print-from-storage-nav">
	<div class="wizard-name">Print From Storage</div>
	<a href="#utilities" class="back-button">Back</a>
</nav>

<!-- heading -->
<h1 class="choose-storage__heading">
	Select Storage Type
</h1>
<!-- choose-storage -->
<ul class="choose-storage">
	<li class="choose-storage__external">
		<a href="#files" style="pointer-events: none;">
			<div class="choose-storage__external__img-container">
				<img src="http://via.placeholder.com/128x128" alt="Pen Drive Symbol" width="128" height="128">
			</div>
			<h2 class="choose-storage__external__sub-heading">EXTERNAL STORAGE</h2>
		</a>
	</li>
	<li class="choose-storage__internal">
		<a href="#files">
			<div class="choose-storage__internal__img-container">
				<img src="http://via.placeholder.com/128x128" alt="Hard Disk Symbol" width="128" height="128">
			</div>
			<h2 class="choose-storage__internal__sub-heading">INTERNAL STORAGE</h2>
		</a>
	</li>
</div>