<!--
**********************************
* Code by Kanishka Mohan Madhuni *
**********************************
-->

{% extends 'navigation-base.jinja2' %}

{% block homenav %}
	<ul id="settings-page-links">
		<li class="settings-page-links__link-item settings-page-links__link-item--top-left setting-button">
			<a href="#" class="setting-link">
				<div class="setting-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/settings-page/general-icon.svg') }}" alt="Filament Icon" width="96" height="96">
					<h2 class="setting-link-heading">General</h2>
				</div>
			</a>
		</li>
		<li class="settings-page-links__link-item settings-page-links__link-item--top-right setting-button">
			<a href="#" class="setting-link">
				<div class="setting-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/settings-page/connectivity-icon.svg') }}" alt="Manual Icon" width="96" height="96">
					<h2 class="setting-link-heading">Connectivity</h2>
				</div>
			</a>
		</li>
		<li class="settings-page-links__link-item settings-page-links__link-item--bottom-left setting-button">
			<a href="#" class="setting-link">
				<div class="setting-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/settings-page/update-manager-icon.svg') }}" alt="Level Bed Icon" width="96" height="96">
					<h2 class="setting-link-heading">Update Manager</h2>
				</div>
			</a>
		</li>
		<li class="settings-page-links__link-item settings-page-links__link-item--bottom-right setting-button">
			<a href="#" class="setting-link">
				<div class="setting-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/settings-page/about-icon.svg') }}" alt="Preheat Icon" width="96" height="96">
					<h2 class="setting-link-heading">About</h2>
				</div>
			</a>
		</li>
	</ul>
{% endblock %}