<!--
**********************************
* Code by Kanishka Mohan Madhuni *
**********************************
-->

{% extends 'navigation-base.jinja2' %}

{% block homenav %}
	<ul id="utility-page-links">
		<li class="utility-page-links__link-item utility-page-links__link-item--top-left utility-button">
			<a href="#control" class="control-link Filament_Button">
				<div class="control-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/utility-page/filament-icon.svg') }}" alt="Filament Icon" width="96" height="96">
					<h2 class="utility-link-heading">Filament</h2>
				</div>
			</a>
		</li>
		<li class="utility-page-links__link-item utility-page-links__link-item--top-right utility-button">
			<a href="#control" class="control-link Manual_Controls_Button">
				<div class="control-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/utility-page/manual-icon.svg') }}" alt="Manual Icon" width="96" height="96">
					<h2 class="utility-link-heading">Manual</h2>
				</div>
			</a>
		</li>
		<li class="utility-page-links__link-item utility-page-links__link-item--bottom-left utility-button">
			<a href="#control" class="control-link Level_Bed_Button">
				<div class="control-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/utility-page/level-bed-icon.svg') }}" alt="Level Bed Icon" width="96" height="96">
					<h2 class="utility-link-heading">Level Bed</h2>
				</div>
			</a>
		</li>
		<li class="utility-page-links__link-item utility-page-links__link-item--bottom-right utility-button">
			<a href="#control" class="control-link Preheat_Button">
				<div class="control-link__img-heading-container">
					<img src="{{ url_for('static', filename='img/utility-page/preheat-icon.svg') }}" alt="Preheat Icon" width="96" height="96">
					<h2 class="utility-link-heading">Pre Heat</h2>
				</div>
			</a>
		</li>
	</ul>
{% endblock %}