<ul class="">		
		<li>
			<a href="#"><div class="">
				<img src="/static/img/Settings-icon.png" class="Settings_Icon" alt="settings icon"/>
				<!--div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div-->
			</a>
				<!--h1 class="bold">Settings</h1-->
		</li>
		<!-- Add Utility here  -->
		<li>
			<a href="#"><div class="">
				<img src="/static/img/Utilities-Icon.png" class="Utilities_Icon" alt="settings icon"/>
				<!--div class="overlay"><div class="contain"><h4 class="bold">Launch</h4></div></div></div-->
			</a>
				<!--h1 class="bold">Utility</h1-->
		</li>
	</ul>	